<!DOCTYPE html>
<html lang="zh_CN" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>文章管理</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/iview/dist/styles/iview.css">
    <script src="https://unpkg.com/iview/dist/iview.min.js"></script>
    <!--<script type="text/javascript" src="js/menu.js"></script>-->
    <!--<link href="css/bootstrap.css/bootstrap.min.css" rel="stylesheet" media="screen">-->
</head>
<body>
<style scoped>
    .layout{
        border: 1px solid #d7dde4;
        background: #f5f7f9;
        position: relative;
        border-radius: 4px;
        overflow: hidden;
    }
    .layout-logo{
        width: 100px;
        height: 30px;
        background: #5b6270;
        border-radius: 3px;
        float: left;
        position: relative;
        top: 15px;
        left: 20px;
        background: url("image/tt.gif")no-repeat center;
        background-size: 80px;
    }
    .layout-nav{
        width: 270px;
        margin: 0 auto;
        margin-right: 20px;
        float: right;
    }
    .layout-nav1{
        width: 600px;
        margin: 0 auto;
        margin-right: 20px;
        float: left;
    }
    .layout-footer-center{
        text-align: center;
    }
    #reset {
        display: none;
        position: absolute;
    }
    #delete {
        display: none;
        position: absolute;
    }
    form fieldset{
        border:0;
        text-align: left;
    }
    label{
        display: inline-block;
        width: 100px;
        text-align: right;
        line-height: 100%;
    }
    i-input{
        width: 100px;
    }
</style>
<div id="app">
    <Layout>
        <i-Header>
            <i-Menu mode="horizontal" theme="dark" active-name="1">
                <div class="layout-logo" ></div>
                <div class="layout-nav1">
                    <Menu-Item name="1">
                        <h1 style="color: #dff0d8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新闻发布管理系统</h1>
                    </Menu-Item>
                </div>
            </i-Menu>
        </i-Header>
        <Layout :style="{padding: '0 50px'}">
            <Breadcrumb :style="{margin: '16px 0'}">
                <Breadcrumb-Item>新闻发布管理系统</Breadcrumb-Item>
                <Breadcrumb-Item>articleAdmin</Breadcrumb-Item>
                <Breadcrumb-Item>articleAdmin</Breadcrumb-Item>
            </Breadcrumb>
            <i-Content :style="{padding: '24px 0', minHeight: '750px', background: '#fff'}">
                <Layout>
                    <Sider hide-trigger :style="{background: '#fff'}">
                        <i-Menu active-name="choose1" theme="light" width="auto" @on-select="choose">
                            <Menu-Item name="1-1" to="userAdmin.html"><Icon type="ios-keypad"></Icon>用户管理</Menu-Item>
                            <Menu-Item name="1-2" to="navAdmin.html"><Icon type="ios-keypad"></Icon>类别管理</Menu-Item>
                            <Menu-Item name="1-3" to="articleAdmin.html"><Icon type="ios-keypad"></Icon>文章管理</Menu-Item>
                            <Menu-Item name="1-4">
                                <Icon type="ios-keypad"></Icon><a href="index.html" v-on:click="clearCookies">退出系统</a>
                            </Menu-Item>
                        </i-Menu>
                    </Sider>

                    <i-Content :style="{padding: '24px', minHeight: '280px', background: '#fff'}">
                        <div style="font-size: 20px" align="left">
                            <label><i-input v-model="article_title" style="width: 300px" @on-enter="vagueSelect" clearable placeholder="请输入要查询标题..."/></label><br>
                            <label><i-button v-on:click="vagueSelect" type="info" style="width:300px; background: #8ce6b0; color: black">点我查询</i-button></label>
                        </div>
                        <br>
                        <i-button type="primary" @click="modal1 = true">添加文章信息</i-button>
                        <Modal v-model="modal1" title="文章信息添加"
                               @on-ok="add" @on-cancel="cancel"
                               :draggable="true">
                            <form>
                                <fieldset>
                                    <label>文章ID:</label>
                                    <i-input type="text" v-model="article_id" clearable style="width: 250px"/>
                                </fieldset><br>
                                <fieldset>
                                    <label>文章标题:</label>
                                    <i-input type="text" v-model="article_title" clearable style="width: 250px"/>
                                </fieldset><br>
                                <fieldset>
                                    <label>发布时间:</label>
                                    <i-input type="text" v-model="article_date" clearable style="width: 250px"/>
                                </fieldset><br>
                                <fieldset>
                                    <label>文章内容:</label>
                                    <!--<i-input type="text" v-model="article_content" clearable style="width: 200px"/>-->
                                    <i-input v-model="article_content" type="textarea" :rows="4" clearable placeholder="请输入文章内容..." style="width: 250px"/>
                                </fieldset><br>
                                <fieldset>
                                    <label>分类ID:</label>
                                    <i-input type="text" v-model="nav_id" clearable style="width: 250px"/>
                                </fieldset><br>
                            </form>
                        </Modal>
                        <Modal v-model="modal2" title="文章信息修改"
                               @on-ok="update" @on-cancel="cancel"
                               :draggable="true">
                            <form>
                                <fieldset>
                                    <label>文章ID:</label>
                                    <i-input type="text" v-model="article_id" clearable style="width: 250px"/>
                                </fieldset><br>
                                <fieldset>
                                    <label>文章标题:</label>
                                    <i-input type="text" v-model="article_title" clearable style="width: 250px"/>
                                </fieldset><br>
                                <fieldset>
                                    <label>发布时间:</label>
                                    <i-input type="text" v-model="article_date" clearable style="width: 250px"/>
                                </fieldset><br>
                                <fieldset>
                                    <label>文章内容:</label>
                                    <i-input v-model="article_content" type="textarea" :rows="4" clearable placeholder="请输入文章内容..." style="width: 250px"/>
                                </fieldset><br>
                                <fieldset>
                                    <label>分类ID:</label>
                                    <i-input type="text" v-model="nav_id" clearable style="width: 250px"/>
                                </fieldset><br>
                            </form>
                        </Modal>
                        <Modal v-model="modal4" title="删除确认"
                               @on-ok="delete1" @on-cancel="cancel"
                               :draggable="true">
                            <form id="delete">
                                <fieldset>
                                    <label>文章ID:</label>
                                    <i-input type="text" v-model="article_id" clearable style="width: 250px"/>
                                </fieldset><br>
                                <fieldset>
                                    <label>文章标题:</label>
                                    <i-input type="text" v-model="article_title" clearable style="width: 250px"/>
                                </fieldset><br>
                                <fieldset>
                                    <label>发布时间:</label>
                                    <i-input type="text" v-model="article_date" clearable style="width: 250px"/>
                                </fieldset><br>
                                <fieldset>
                                    <label>文章内容:</label>
                                    <i-input v-model="article_content" type="textarea" :rows="4" clearable placeholder="请输入文章内容..." style="width: 250px"/>
                                </fieldset><br>
                                <fieldset>
                                    <label>分类ID:</label>
                                    <i-input type="text" v-model="nav_id" clearable style="width: 250px"/>
                                </fieldset><br>
                            </form>
                            <h1>确认删除这条数据？</h1>
                        </Modal>

                        <i-table border :columns="arColumns1" :data="articles1"></i-table>
                        <i-table border :columns="arColumns" :data="articles"></i-table>

                    </i-Content>
                </Layout>
            </i-Content>
        </Layout>
        <i-Footer class="layout-footer-center">@你，是医我的药</i-Footer>
    </Layout>
</div>

<script src="js/bootstrap.js/bootstrap.min.js"></script>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            modal1: false,
            modal2: false,
            modal4: false,
            flage: false,
            choose1:'',
            article_id: '',
            article_title: '',
            article_date: '',
            article_content: '',
            nav_id: '',
            picked: '',
            index: '',
            index1:'',
            title: '',
            visible: false,
            articles: [],
            articles1: [],
            arColumns1: [
                {
                    title: '文章ID',
                    key: 'article_id'
                },
                {
                    title: '文章标题',
                    key: 'article_title'
                },
                {
                    title: '发布时间',
                    key: 'article_date'
                },
                {
                    title: '文章内容',
                    key: 'article_content'
                },
                {
                    title: '分类ID',
                    key: 'nav_id'
                }
            ],
            arColumns: [
                {
                    title: '文章ID',
                    key: 'article_id'
                },
                {
                    title: '文章标题',
                    key: 'article_title'
                },
                {
                    title: '发布时间',
                    key: 'article_date'
                },
                // {
                //     title: '文章内容',
                //     key: 'article_content'
                // },
                {
                    title: '分类ID',
                    key: 'nav_id'
                },
                {
                    title: '操作',
                    key: 'operation',
                    render: function (h, params) {
                        return h('div', [
                            h('Button', {
                                props: {
                                    type: 'primary',
                                    size: 'small'
                                },
                                style: {
                                    marginRight: '5px'
                                },
                                on: {
                                    click: function() {
                                        app.select(params.index)
                                    }
                                }
                            }, '修改'),
                            h('Button', {
                                props: {
                                    type: 'error',
                                    size: 'small'
                                },
                                on: {
                                    click: function() {
                                        app.delete(params.index)
                                    }
                                }
                            }, '删除')
                        ]);
                    }
                }
            ]
        },
        methods: {
            choose:function (val) {
                this.choose1=val;
            },
            cancel: function () {
                this.$Message.info('取消');
            },
            add: function () {
                var that = this;
                var params = {article_id: this.article_id, article_title: this.article_title, article_date: this.article_date, article_content: this.article_content, nav_id: this.nav_id};
                if (params.article_id == null || params.article_id.replace(/\ +/g, "") == "") {
                    alert("文章ID不能为空或者空格")
                } else if (params.article_title == null || params.article_title.replace(/\ +/g, "") == "") {
                    alert("文章标题不能为空或者空格")
                } else {
                    axios.post("/articleCreate", params)
                        .then(function (resp) {
                            if (resp.data == "Success") {
                                app.articles.push(resp.data);
                                app.created1();
                                alert("添加信息成功")
                            } else {
                                alert("错误：ID重复")
                            }
                        })
                        .catch(function (error) {
                        })
                }
            },
            update: function (index) {
                var that = this;
                var params = {article_id: this.article_id, article_title: this.article_title, article_date: this.article_date, article_content: this.article_content, nav_id: this.nav_id};
                axios.post("/articleUpdate", params)
                    .then(function (resp) {
                        if (resp) {
                            app.articles.splice(index, 1, params);
                            app.created1();
                            alert("修改信息成功")
                        }
                    }).catch(function (error) {
                    alert("修改信息失败")
                })

            },
            delete: function (index) {
                this.modal4=true;
                var s = this.articles[index];
                app.index1=index;
                this.article_id = s.article_id;
                this.article_title = s.article_title;
                this.article_date = s.article_date;
                this.article_content = s.article_content;
                this.nav_id = s.nav_id;
            },
            delete1: function (index) {
                var that = this;
                var params = {article_id: this.article_id, article_title: this.article_title, article_date: this.article_date, article_content: this.article_content, nav_id: this.nav_id};
                var url = "/articleDelete/"+ params.article_id;
                axios.post(url).then(function (response) {
                    app.created1();
                    alert("删除成功")
                }).catch(function (error) {
                    alert("删除失败")
                });
            },
            select: function (index) {
                this.modal2=true;
                var s = this.articles[index];
                app.index1=index;
                this.article_id = s.article_id;
                this.article_title = s.article_title;
                this.article_date = s.article_date;
                this.article_content = s.article_content;
                this.nav_id = s.nav_id;
            },
            vagueSelect: function() {
                var that = this;
                var params = {article_title: this.article_title};
                axios.post("/vagueSelectArticle/"+params.article_title).then(function (response) {
                    that.articles1 = response.data;
                }).catch(function (error) {
                    alert("查询失败")
                });
            },
            created1:function() {
                var that = this;
                axios.get("/allArticle")
                    .then(function (response) {
                        if (response) {
                            that.articles = response.data;
                        }
                    })
                    .catch(function (error) {

                    });
            },
            clearCookies:function(){
                var that=this;
                axios.post("/clearCookies")
                    .then(function (response) {
                        if (response.data == true){
                            alert("清除session信息，点击确定，返回首页")
                        } else{
                            alert("清除session失败")
                        }
                    })
            },
        },
        created:function() {
            var that = this;
            axios.get("/allArticle")
                .then(function (response) {
                    if (response) {
                        that.articles = response.data;
                    }
                })
                .catch(function (error) {

                });
        }
    });
</script>
</body>
</html>